.menu {
    padding: 20px;
    font-family: 'Karla';
}

.sectionTitle, .dishInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.menu h3 { margin: 0; }

.menuContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0;
}

.menuItem {
    border: 1px solid black;
    border-radius: 16px;
    flex: 1;
    list-style-type: none;
}

.menuItem img {
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.dishInfo, p {
    padding: 10px 20px;
    margin: 0 !important;
}

.dishInfo h2 {
    font-family: 'Markazi Text';
    font-size: 24px;
}

.dishInfo * { margin: 0 !important; }

.price {
    color: #EE9972;
    font-family: 'Karla';
    font-weight: bold;
}

.deliveryText {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
    .menuContainer {
        width: 100%;
    }
}