.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer img { margin: auto 0; }

.footerCol li {
    list-style-type: none;
    padding: 5px 0;
}

.footerCol ul, .footerCol h4 {
    padding: 0;
    margin: 0;
}

.footerCol a {
    color: black;
    text-decoration: none;
}

.footerCol { font-family: 'Karla'; }

@media screen and (max-width: 480px) {
    .footer img {
        width: 90px;
        margin-bottom: 20px;
    }
    
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footerCol {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}