* {
    margin: 0;
    padding: 0;
    background-color: white;
}

header, footer { padding: 0px 15px; }

.header-container { display: flex; }

.navbar-brand {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.nav-link {
    font-size: 1.15rem;
    margin: 0px 15px;
    color: black !important;
}

p { font-size: 1rem; }

#home, #menu, #contact {
    padding: 25px 0;
    border-bottom: 1px solid grey;
}

.home-img {
    display: block;
    margin-left: auto;
    max-width: 90%;
}

.menu-btn, .order-btn {
    background-color: #495f58 !important;
    color: white !important;
    border: none;
    padding: 10px 20px !important;
    border-radius: 50px !important;
    margin-top: 15px;
}

.menu-btn:hover, .order-btn:hover { transform: scale(1.1); }

.menu-header, .contact-header { margin-bottom: 20px; }

.menu-item {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 15px;
    margin: 10px;
}

.menu-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.menu-item img {
    margin: 0px auto;
    max-width: 100%;
    max-height: 250px;
}

.menu-details h3, .price { margin-bottom: 0; }

.price { font-weight: bold; }

.contact-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-header h1 { padding-left: 20px; }

.contact-item { padding: 5px 40px !important; }

#contact-number {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.contact-item i { font-size: 2rem; }

.copyright i { padding-right: 10px; }

.copyright { justify-content: right; }

@media screen and (max-width: 480px) {
    #home, #menu, #contact { padding: 30px; }

    .home-container .row {
        display: flex;
        flex-direction: column;
    }

    .home-img {
        margin-top: 20px;
        max-width: 100%;
    }

    #contact-number { border: none; }
}