.hero {
    background: #495E57;
    padding: 20px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.hero h1 {
    color: #F4CE14;
}

.hero img {
    border-radius: 16px;
}