section {
  margin-bottom: 25px;
}

button {
  background-color: #F4CE14;
  border: 1px solid #F4CE14;
  border-radius: 16px;
  padding: 10px 20px;
  font-size: 16px;
}

p {
  font-family: 'Karla';
}

h1 {
  color: #F4CE14;
  font-size: 64px;
}

h2 {
  font-size: 40px;
  font-weight: 100;
  line-height: 40%;
  margin-bottom: 40px !important;
}

h1, h2 {
  font-family: 'Markazi Text';
  margin: 0;
}

h3 {
  font-family: 'Karla';
  font-size: 20px;
}